@charset "utf-8";
/* CSS Document */

#mobile-sticky-header{ display: none}

/* LIVERPOOL UNI ONLY TOP TIER */
#nav-header.header{padding:0; padding-bottom: 10px; margin:0;}
#nav-header.header #top-tier{ background:#101010; padding:0.88em 0; margin:0; font-family: Verdana;text-transform: uppercase;font-size: 11px;font-weight: normal; color:#fff;  }
#nav-header.header #top-tier a{ font-family: Verdana;text-transform: uppercase;font-size: 11px;font-weight: normal; color:#ffdb93}
#nav-header.header #top-tier li{ display: inline}
#nav-header.header #top-tier li.home-link, #nav-header.header #top-tier li.a-z{ margin-right:2%}
#nav-header.header #top-tier  li.staff-login, #nav-header.header #top-tier  li.student-login{background-image: url(https://www.liverpool.ac.uk/files/2012-working-demo/padlock.png) !important;
background-repeat: no-repeat;background-position: top right; padding-right: 2%;margin-right:2%}
#nav-header.header #top-tier  li.student-login{margin-right:0}
#nav-header.header #top-tier .container{ margin:0 auto; width:97%}
#nav-header.header #top-tier .container #country-pages, #nav-header.header #top-tier .container #global-nav{ float: left;width: 49%;}
#nav-header.header #top-tier .container #global-nav{ float: right; text-align: right;}
#nav-header.header #top-tier ul{ list-style-type:none; padding:0; margin:0; }

/* LIVERPOOL UNI ONLY HEADER */

#nav-header.header #masthead{min-height: 80px;padding:0; padding-bottom: 1em;margin-bottom: 2em;position: relative;margin: 0 auto; width:97%; border-bottom:1px solid #999 }
#nav-header.header #masthead #skip-nav{ display:none}
#nav-header.header #masthead #logo{position: absolute;top: 23px;width: 200px;height: 50px}
#nav-header.header #masthead #logo h2{ margin-top:0}
#nav-header.header #masthead #logo h2 #uni-home-link {background: url(https://www.liverpool.ac.uk/files/css/images/h1-logo-unbranded.png) no-repeat scroll left top transparent;display: block;
float: left;height: 0;overflow: hidden;padding-top: 50px;width: 200px}
#nav-header.header #masthead #dept-link-holder {position: relative;width: 38%;height: 38px;border-left: 1px solid #A87B26;top: 27px;margin-left: 198px}
#nav-header.header #masthead #dept-link-holder #dept-link{position: absolute;left: 18px;bottom: -5px}
#nav-header.header #masthead #dept-link-holder #dept-link h2{font-weight: lighter;text-transform: uppercase; font-style:normal !important; line-height: 1.061em;font-size: 146%;margin: 0;padding: 0;}
#nav-header.header #masthead #dept-link-holder #dept-link h2 a{color: #031F73; font-style:normal !important; text-decoration:none; font-size:18px}
#nav-header.header #masthead #global-and-search{ padding-top: 0;position: relative;top: -15px; text-align: right;}
#nav-header.header #masthead #global-and-search form#search{border: 1px solid #a87b26;width: 16%;float: right;margin-bottom: 19px;}
#nav-header.header #masthead .visuallyhidden {border: 0;clip: rect(0 0 0 0);height: 1px;margin: -1px;overflow: hidden;padding: 0;position: absolute;width: 1px}
#nav-header.header #masthead hr { display:none}
#nav-header.header #masthead #global-and-search form#search input.search-input {border: 0 none transparent;float: left;font-size: 14px;padding: 6px 5px;width: 80%}
#nav-header.header #masthead #global-and-search form#search input[type="image"]{ padding:1.6%}
.visuallyhidden{ display:none}

/* LIVERPOOL UNI FOOTER */

.footer{font-family: Verdana;text-transform: uppercase;font-size: 11px;font-weight: normal;padding: 10px 0; margin:0; background: #1e1e1e; color:#fff}
.footer .container{ margin:0 auto; width:97%}
.footer .container #address {background: url(https://www.liverpool.ac.uk/files/css/images/global-2013/footer-logo.png) 0 10px no-repeat;padding: 10px 0;font-family: arial;font-size: 14px;text-transform: none}
.footer .container #address p{text-align: right;padding: 0px;margin: 0px;}
.footer .container #address p a{color:#ffdb93 !important}
.footer .inner.copy-legal{border-top: 1px solid #555555;padding-bottom: 3em; padding: 0.7em 0;color: #fff;}
.footer .inner.copy-legal ul{ list-style-type:none}
.footer .inner.copy-legal ul li{ display:inline}
.footer .inner.copy-legal ul li a{ font-family: Verdana !important;text-transform: uppercase !important;font-size: 11px !important;font-weight: normal !important; color:#ffdb93 !important}
.footer .inner.copy-legal #copyright, .footer .inner.copy-legal #legal{float: left; width:49%; text-align:left}
.footer .inner.copy-legal #legal{float: right; text-align:right}
#download-page section.main-content{ padding:1.3% 2%;}

@media screen and (max-width: 769px){
	#nav-header.header #top-tier{ display:none}
	#nav-header.header #masthead{ display:none; padding:1em 0; min-height:120px}
	#nav-header.header #masthead #logo{position:relative; width:auto; height:auto; display:block; top:0;}
	#nav-header.header #masthead #logo h2{ width:200px; margin:0 auto; float:none}
	#nav-header.header #masthead #logo h2 a{ text-decoration:none}
	#nav-header.header #masthead #logo h2 #uni-home-link {float: none;height: 0;overflow: hidden;padding-top: 50px;width: 200px}
	
	#nav-header.header #masthead #dept-link-holder, #nav-header.header #masthead #dept-link-holder #dept-link{position:relative; width:auto; border:none; margin:0; height:auto; display:block; width:auto; height:auto; display:block; top:0;}
	#nav-header.header #masthead #dept-link-holder{ margin-bottom:0.77em}
	#nav-header.header #masthead #dept-link-holder #dept-link{ text-align:center; margin:0 auto; padding:0; left:0}
	#nav-header.header #masthead #dept-link-holder #dept-link h2{margin:0 auto}
	#nav-header.header #masthead #global-and-search, #nav-header.header #masthead #global-and-search form#search{ width:95%; margin:0 auto; position:relative; display:block; top:auto}
	
	#nav-header.header #mobile-sticky-header{ display:block;background-color: #333; padding-top: 0.77em; height:60px}
	#nav-header.header #mobile-sticky-header #sticky-logo{margin: 0 4.33%}
	#nav-header.header #mobile-sticky-header #sticky-logo #uni-home-link{display: block;float: left;height: 0;overflow: hidden;padding-top: 50px;}
	#nav-header.header #mobile-sticky-header #sticky-logo #uni-home-link, #mobile-sticky-header #sticky-logo{width: 27px}
	#nav-header.header #mobile-sticky-header #sticky-logo #uni-home-link{background: url(https://www.liverpool.ac.uk/files/images/schools/h1-logo-whiteout-mobile.png) no-repeat}
	#nav-header.header #mobile-sticky-header .sticky-dept-link {float: left;width: 70%;padding-left: 4.33%;position: relative;top: 2px;line-height: 1.25em; font-style:normal !important}
	#nav-header.header #mobile-sticky-header .sticky-dept-link a {font-size: 116%;color: #fff;font-family: "freight-text-pro",serif;text-transform: uppercase; text-decoration: none; font-style:normal !important}
	
	.footer .container #address {background: none; text-align:center}
	.footer .container #address p{ text-align:center}
	#country-pages, #copyright, #global-nav, #legal {float: none;text-align: center; display:block; width:100%}
	.footer .inner.copy-legal #copyright, .footer .inner.copy-legal #legal{float: left;width: 100%; text-align: center;}
	
	
	#mobile-sticky-header #global-and-search{ float:none; width:90%; background:#fff; clear:both; margin:0 auto}
	#download-page section.main-content{ padding:10%;}
	.header-clear{ width:100%; float:none}
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*# sourceMappingURL=livuni.css.map */
