.well {
   background-color: rgba(245, 245, 245, 0.4);
}
.page-title {
	padding-bottom: 10px;
	text-align: center;
}
.results-title {
	font-weight: bold;
	font-size: 16px;
	color: #000B9A
}
.results-subtitle {
	color: #A0A0A0
}

.disp-main{
	font-size: 16px;
}

.disp-title{
	font-size: 14px;

}

.disp-body{
	font-size: 12px;
}


.navbar-brand {
	float:none;
	}

.navbar-default{
	padding-top: 20px;
	background-color: transparent;
	border-color: transparent;
}

.borderless td, .borderless th, .borderless tr {
    border: none !important;
}

.table-ellip a:hover{
	white-space: normal;
}

.basket-add{
	background-color: #5cb85c;
	border-color: #5cb85c;
}

@media print{
	.header, .footer, #masthead {
		display: none;
		}
	body {
		font: 12pt Georgia, "Times New Roman", Times, serif;
		line-height: 1.3;
		}
}